<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JWMSH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JWMSH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="JWMSH.Properties.Settings.BCon" connectionString="Data Source=(local);Initial Catalog=JWMSH_2016;Persist Security Info=True;User ID=sa;Password=3281528zqs"
          providerName="System.Data.SqlClient" />
      <add name="JWMSH.Properties.Settings.KisCon" connectionString="Data Source=192.168.11.102;Initial Catalog=AIS20150527083422;Persist Security Info=True;User ID=sa;Password=sa"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll_library"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JWMSH.Properties.Settings>
        <setting name="cUser" serializeAs="String">
            <value>Demo</value>
        </setting>
        <setting name="cServer" serializeAs="String">
            <value />
        </setting>
        <setting name="cCompany" serializeAs="String">
            <value>上海华翔汽车零部件有限公司</value>
        </setting>
    </JWMSH.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JWMSH.Properties.Settings>
        <setting name="JWMSH_WmsService_BaseConService" serializeAs="String">
            <value>http://localhost:9991/BaseConService.asmx</value>
        </setting>
    </JWMSH.Properties.Settings>
  </applicationSettings>
</configuration>