<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoSync.Properties.Settings.SqlServer" connectionString="Data Source=(local);Initial Catalog=JWMSH_2016;Persist Security Info=True;User ID=sa;Password=4000212099"
            providerName="System.Data.SqlClient" />
        <add name="AutoSync.Properties.Settings.KisServer" connectionString="Data Source=(local);Initial Catalog=AIS20150527083422;Persist Security Info=True;User ID=sa;Password=4000212099"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>