<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoSync.Properties.Settings.SqlServer" connectionString="Data Source=192.168.11.118;Initial Catalog=JWMSH_2016;Persist Security Info=True;User ID=sa;Password=4000212099"
            providerName="System.Data.SqlClient" />
        <add name="AutoSync.Properties.Settings.KisServer" connectionString="Data Source=192.168.11.130;Initial Catalog=AIS20150527083422;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll_library"/>
    </assemblyBinding>
  </runtime>
</configuration>